{% extends 'boiler.html' %}
{% block page_contents %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
        <h1 class="h2">Resume Form</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Share
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Export
              </button>
            </div>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
            >
              <svg class="bi"><use xlink:href="#calendar3"></use></svg>
              This week
            </button>
          </div>
        </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Education</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.datepicker-year').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy-mm-dd'
            });
        });
    </script>
    <style>
        /* Custom CSS styles for form fields */
        .field-wrapper {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold; /* Bold label text */
        }

        input[type="text"], textarea {
            border: 2px solid #3498db; /* Blue border */
            border-radius: 5px; /* Rounded corners */
            padding: 10px; /* Padding for spacing */
            font-size: 16px; /* Larger font size */
            color: #333; /* Dark text color */
            width: 100%; /* Full width */
            box-sizing: border-box; /* Include padding in width */
            transition: border-color 0.3s ease; /* Smooth transition */
        }

        input[type="text"]:focus, textarea:focus {
            border-color: #ff6f61; /* Red border when focused */
        }

        button[type="submit"] {
            background-color: #4caf50; /* Green background */
            color: white; /* White text color */
            padding: 10px 20px; /* Padding for button */
            border: none; /* No border */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Cursor style */
            font-size: 16px; /* Font size */
            transition: background-color 0.3s ease; /* Smooth transition */
        }
    
        button[type="submit"]:hover {
            background-color: #45a049; /* Darker green on hover */
        }

        h1 {
            font-family: 'Arial', sans-serif; /* Custom font family */
            color: #4CAF50; /* Green text color */
            text-align: center; /* Centered text */
            margin-bottom: 30px; /* Bottom margin */
            text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Text shadow */
        }

        h1:hover {
            color: #FF6F61; /* Red text color on hover */
        }
    </style>
</head>
<body>
    <h1>Edit Education</h1>
    <form method="post">
        {% csrf_token %}
        <div class="field-wrapper">
            <label for="id_education_level">Education Level:</label><br>
            <select id="id_education_level" name="education_level" required class="name">
                {% for choice in form.education_level.choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == education.education_level %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
            </select><br>
        </div>

        <div class="field-wrapper">
            <label for="id_date_of_passing">Date of Passing:</label><br>
            <input type="text" id="id_date_of_passing" name="date_of_passing" value="{{ education.date_of_passing }}" class="datepicker-year name" required><br>
        </div>

        <div class="field-wrapper">
            <label for="id_additional_info">Additional Info:</label><br>
            <textarea id="id_additional_info" name="additional_info" required class="name">{{ education.additional_info }}</textarea><br>
        </div>

        <div class="field-wrapper">
            <label for="id_pursuing">Pursuing:</label><br>
            <input type="checkbox" id="id_pursuing" name="pursuing" {% if education.pursuing %}checked{% endif %}><br>
        </div>

        <button type="submit" class="name">Submit</button>
    </form>
</body>
</html>
{% endblock %}
