{% extends 'boiler.html' %}
{% block page_contents %}
{% load static %}
{% load widget_tweaks %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profile Form</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                <svg class="bi"><use xlink:href="#calendar3"></use></svg>
                This week
            </button>
        </div>
    </div>

    <div class="content">
<<<<<<< HEAD
        <form action="{% url 'create_profile.html' %}" method="post" enctype="multipart/form-data">
=======
        <form method="post" action="{% url 'qualities:add_education'%}">
>>>>>>> 20b818a02a8c775bc7790a969810be07603dc3fe
            {% csrf_token %}
            <div class="field-wrapper">
                <label for="id_full_name">Full Name:</label>
                {% render_field form.full_name class="form-control" %}
            </div>

            <div class="field-wrapper">
                <label for="id_address">Address:</label>
                {% render_field form.address class="form-control" %}
            </div>

            <div class="field-wrapper">
                <label for="id_birth_date">Birth Date:</label>
                {% render_field form.birth_date class="form-control" %}
            </div>

            <div class="field-wrapper">
                <label for="id_phone_number">Contact Number:</label>
                {% render_field form.phone_number class="form-control" %}
            </div>

            <div class="field-wrapper">
                <label for="id_email">Email Address:</label>
                {% render_field form.email class="form-control" %}
            </div>

<<<<<<< HEAD
            <!-- Image field -->
            <div class="field-wrapper">
                <label for="id_photo">Profile Photo:</label>
                <input type="file" name="photo" class="form-control" accept="image/*">
=======
            <!-- New Fields -->
            <div class="field-wrapper">
                <label for="id_job_title">Job Title:</label>
                {% render_field form.job_title class="form-control" %}
            </div>
            
            <div class="field-wrapper">
                <label for="id_previous_company">Previous Company:</label>
                {% render_field form.previous_company class="form-control" %}
            </div>
            
            <div class="field-wrapper">
                <label for="id_start_date">Start Date:</label>
                {% render_field form.start_date class="form-control" %}
            </div>
            
            <div class="field-wrapper">
                <label for="id_end_date">End Date:</label>
                {% render_field form.end_date class="form-control" %}
            </div>
            
            <div class="field-wrapper">
                <label for="id_key_responsibilities">Key Responsibilities:</label>
                {% render_field form.key_responsibilities class="form-control" %}
            </div>

            <div class="field-wrapper">
                <label for="id_bio">Bio:</label>
                {% render_field form.bio class="form-control" %}
>>>>>>> 20b818a02a8c775bc7790a969810be07603dc3fe
            </div>

            <div class="field-wrapper">
                <label for="id_linkedin_url">LinkedIn URL:</label>
                {% render_field form.linkedin_url class="form-control" %}
            </div>
            
            <div class="field-wrapper">
                <label for="id_instagram_url">Instagram URL:</label>
                {% render_field form.instagram_url class="form-control" %}
            </div>
            
            <div class="field-wrapper">
                <label for="id_facebook_url">Facebook URL:</label>
                {% render_field form.facebook_url class="form-control" %}
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>

<style>
    /* Custom CSS styles for form fields */
    .field-wrapper {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold; /* Bold label text */
    }

    .form-control {
        border: 2px solid #3498db; /* Blue border */
        border-radius: 5px; /* Rounded corners */
        padding: 10px; /* Padding for spacing */
        font-size: 16px; /* Larger font size */
        color: white; /* Dark text color */
        width: 100%; /* Full width */
        box-sizing: border-box; /* Include padding in width */
        transition: border-color 0.3s ease; /* Smooth transition */
    }

    .form-control:focus {
        border-color: #ff6f61; /* Red border when focused */
    }

    .btn-primary {
        background-color: #4caf50; /* Green background */
        color: white; /* White text color */
        padding: 10px 20px; /* Padding for button */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Cursor style */
        font-size: 16px; /* Font size */
        transition: background-color 0.3s ease; /* Smooth transition */
    }

    .btn-primary:hover {
        background-color: #45a049; /* Darker green on hover */
    }

    h1 {
        font-family: 'Arial', sans-serif; /* Custom font family */
        color: #4CAF50; /* Green text color */
        text-align: center; /* Centered text */
        margin-bottom: 30px; /* Bottom margin */
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Text shadow */
    }

    h1:hover {
        color: #FF6F61; /* Red text color on hover */
    }
</style>
{% endblock %}