<!-- templates/create_resume.html -->

{% extends 'boiler.html' %}
{% block page_contents %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
        >
        <h1 class="h2">Resume Form</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Share
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Export
              </button>
            </div>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1"
            >
              <svg class="bi"><use xlink:href="#calendar3"></use></svg>
              This week
            </button>
          </div>
        </div>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Resume</title>
    <style>
        /* Custom CSS styles for form fields */
        .name{
            border: 2px solid #3498db; /* Blue border */
            border-radius: 5px; /* Rounded corners */
            padding: 10px; /* Padding for spacing */
            font-size: 16px; /* Larger font size */
            color:#fff; /* Dark text color */
            width: 100%; /* Full width */
            box-sizing: border-box; /* Include padding in width */
            transition: border-color 0.3s ease; /* Smooth transition */
            margin-bottom: 10px; /* Margin bottom for spacing */
        }

        input[type="text"]:focus, textarea:focus, input[type="checkbox"]:focus {
            border-color: #ff6f61; /* Red border when focused */
        }

        button[type="submit"] {
            background-color: #4caf50; /* Green background */
            color: white; /* White text color */
            padding: 10px 20px; /* Padding for button */
            border: none; /* No border */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Cursor style */
            font-size: 16px; /* Font size */
            transition: background-color 0.3s ease; /* Smooth transition */
        }
    
        button[type="submit"]:hover {
            background-color: #45a049; /* Darker green on hover */
        }

        h1 {
            font-family: 'Arial', sans-serif; /* Custom font family */
            color: #4CAF50; /* Green text color */
            text-align: center; /* Centered text */
            margin-bottom: 30px; /* Bottom margin */
            text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Text shadow */
            transition: color 0.3s ease; /* Smooth transition */
        }

        h1:hover {
            color: #FF6F61; /* Red text color on hover */
        }
    </style>
</head>
<body>
    <h1>Create Resume for {{ user }}</h1>
    <form action="{% url 'resumes:resumes' %}" method="post">
        {% csrf_token %}
        <div class="field-wrapper">
            <!-- Description field -->
            <label for="id_description">Description:</label><br>
            {% render_field form.description class="name" %}
        </div>
        <div class="field-wrapper">
            <!-- Summary field -->
            <label for="id_summary">Summary:</label><br>
            {% render_field form.summary class="name" %}
        </div>
        <div class="field-wrapper">
            <!-- Target Company field -->
            <label for="id_target_company">Target Company:</label><br>
            {% render_field form.target_company class="name" %}
        </div>
        <div class="field-wrapper">
            <!-- Technical Skills field -->
            <label for="id_technical_skills" >Technical Skills:</label><br>
            {% render_field form.technical_skills class="name" %}
        </div>
	<a href="{% url 'qualities:technical_skills' %}" class="btn btn-primary">Add New Technical Skill</a><br><br>
        <div class="field-wrapper">
            <!-- Soft Skills field -->
            <label for="id_soft_skills">Soft Skills:</label><br>
            {% render_field form.soft_skills class="name" %}
        </div>
        <a href="{% url 'qualities:soft_skills' %}" class="btn btn-primary">Add New Soft Skill</a><br>
        <!-- Add other fields similarly -->
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock %}
    

